

.thr
{
  height: 3px;
  background-color: darkblue;
  border: none;
  animation: thr 1s infinite
}
@keyframes thr
{
0% {background-color:red;}
20% {background-color:yellow;}
40% {background-color:green;}
60% {background-color:blue;}
80% {background-color:violet;}
100% {background-color:red;}
}
 body 
{
 
     background-image: linear-gradient(90deg, #A1C9F7,rgb(245, 140, 171));
     background-color: aquamarine;

}
h1
{
 text-align: center;

}
p
{
 text-align: right;
}

.rainbow {
  

    text-shadow: 2px 2px 2px #00000;
    font-size:40px;
       
     background-image: linear-gradient(90deg, red,green,blue);
     background-clip: text;
     color: transparent;
    
    /* Standar Syntax */
    animation: rainbow 5s infinite; 
  }
  
 
  
  /* Standar Syntax */
  @keyframes rainbow{
    0%
    {
    filter :hue-rotate(0deg)
    }
    100%
    {
    filter :hue-rotate(1080deg)
    }
  }